<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>RequestSignUp</servlet-name>
        <servlet-class>controller.RequestSignUp</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RequestSignIn</servlet-name>
        <servlet-class>controller.RequestSignIn</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ShowFriends</servlet-name>
        <servlet-class>controller.ShowFriends</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RequestPassword</servlet-name>
        <servlet-class>controller.RequestPassword</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RequestDelete</servlet-name>
        <servlet-class>controller.RequestDelete</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>RequestSignUp</servlet-name>
        <url-pattern>/RequestSignUp</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RequestSignIn</servlet-name>
        <url-pattern>/RequestSignIn</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ShowFriends</servlet-name>
        <url-pattern>/ShowFriends</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RequestPassword</servlet-name>
        <url-pattern>/RequestPassword</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RequestDelete</servlet-name>
        <url-pattern>/RequestDelete</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
